<%- include("parts/header.ejs")%>

    <section>
        <div class="container mx-auto  my-[50px]  p-[5px]">
          <h1 class="bg-green-500 text-[30px] text-[white] font-bold p-[5px]">About PAGE</h1>
           



           



        </div>






    </section>


<%- include("parts/footer.ejs")%>