<%- include("parts/header")%>

    <section>
        <div class="container mx-auto bg-green-500 my-[50px] p-[5px]">
           
            <h1 class="text-green-500 text-[30px] text-[white] font-bold text-center">Home PAGE</h1>


           



        </div>






    </section>



<%- include("parts/footer.ejs")%>